<% semantic_form_for @user do |f| -%>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :login %>
    <%= f.input :email %>
    <%= f.input :role, :collection => User::ROLES, :as => :select %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <div class="group navform">
    <input type="submit" class="button" value="Save" /> or <%= link_to 'Cancel', users_path %>
  </div>
<% end %>