<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Email</th>
    <th>Single Access Token</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=h user.name %></td>      
      <td><%=h user.login %></td>
      <td><%=h user.email %></td>
      <td><%=h user.single_access_token %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create User", new_user_path %></p>
