<% current_tab :new_ticket if @ticket.new_record? %>

<% @ticket.priority ||= 1 %>

<% semantic_form_for @ticket do |f| %>
  <% f.inputs do %>
    <%= f.input :name, :hint => 'Enter a descriptive name for your ticket' %>
    <%= f.input :category, :hint => 'Choose one of the categories that match best', :collection => nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}".strip } %>
    <%= f.input :description, :hint => 'Describe your problem as precise as possible' %>
    <%= f.input :organizer, :hint => 'Select the concerned organizer' %>
    <%= f.input :portal, :hint => 'Select the concerned portal' %>
    <%= f.input :priority, :hint => "Estimate the problem's priority", :collection => [1, 2, 3], :as => :radio %>
    <% unless logged_in? %>
      <% f.inputs :for => :user do |user_form| %>
        <%= user_form.input :email, :hint => 'Enter your email address so you can track your problem' %>
      <% end %>
    <% end %>
  <% end %>
  <% unless @ticket.new_record? %>
    <% f.inputs do %>
      <%= f.input :assignee %>
      <%= f.input :solution %>
      <%= f.input :published, :as => :boolean %>
    <% end %>
  <% end %>
  <% f.buttons do %>
    <button type="submit" class="button positive">
      <%= tick_image %> Create Ticket
    </button>
    <% link_to "#{cross_image} Cancel", tickets_path, :class => "button negativ" %>
  <% end %>
<% end %>