<% title "Tickets" %>

<% form_for @search do |f| %>
  <p>
    <%= f.label :name_or_description_like, 'Search' %>
    <%= f.text_field :name_or_description_like %>
  </p>
  <p>
    <%= f.label :category_with_ancestors_id %>    
    <%= f.select :category_with_ancestors_id, nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}".strip }, :include_blank => true %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<table id="tickets">
  <tr>
    <th>ID</th>
    <th>New</th>
    <th>Name</th>
    <th>Category</th>
    <th>Creator</th>
    <th>Assigned to</th>
    <th>Updated at</th>
  </tr>
  <% for ticket in @tickets %>
    <tr id="ticket-<%= ticket.id %>">
      <td>#<%= ticket.id %></td>
      <td><strong><%= @current_user.new_ticket?(ticket) ? 'new' : '' %></strong></td>      
      <td><%= link_to h(ticket.name), ticket %></td>
      <td><%=h ticket.category_name %></td>
      <td><%=h ticket.user_name %></td>
      <td><%= assigned_to(ticket.assignee) %></td>
      <td><%= time ticket.updated_at %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create Ticket", new_ticket_path %></p>
