<% title "Tickets" %>

<table>
  <tr>
    <th>ID</th>    
    <th>New</th>
    <th>Name</th>
    <th>Category</th>
    <th>Creator</th>
    <th>Assigned to</th>
    <th>Updated at</th>
  </tr>
  <% for ticket in @tickets %>
    <tr>
      <td>#<%= ticket.id %></td>
      <td><strong><%= @current_user.new_ticket?(ticket) ? 'new' : '' %></strong></td>      
      <td><%=h ticket.name %></td>
      <td><%=h ticket.category_name %></td>
      <td><%=h ticket.user_name %></td>
      <td><%=h ticket.assignee_name %></td>      
      <td><%= time ticket.updated_at %></td>
      <td><%= link_to "Show", ticket %></td>
      <td><%= link_to "Edit", edit_ticket_path(ticket) %></td>
      <td><%= link_to "Archive", archive_ticket_path(ticket), :confirm => 'Are you sure?', :method => :put %></td>
      <td><%= link_to "Destroy", ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create Ticket", new_ticket_path %></p>
