<% title @ticket.name %>

<div id="ticket">
  <p>
    The Ticket is <%= @ticket.state %> and has Priority <%= @ticket.priority %>
  </p>

  <p>
    Created by <%= @ticket.user_username %> <%= time_ago_in_words @ticket.created_at %> ago (<%= time @ticket.created_at %>) in Category <%= @ticket.category_name %>
  </p>

  <h2>Description</h2>
  <p>
    <%= textilize @ticket.description %>
  </p>

  <% unless @ticket.solution.blank? %>
    <h3>Solution</h3>
    <p>
      <%=h @ticket.solution %>
    </p>
  <% end %>

  <p>
    Last updated <%= time_ago_in_words @ticket.updated_at %> ago (<%= time @ticket.updated_at %>)
  </p>
  
  <p>
    You visited this ticket <%= @visits.count if @visits %> times.
  </p>

  <p>
    The last time was <%= time @visits.updated_at if @visits %>.
  </p>

  <div class="actions">
    <p>
      <%= link_to "Back", tickets_path %> |
      <%= link_to "Edit", edit_ticket_path(@ticket) %> |
      <%= link_to "Destroy", @ticket, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
</div>