<% title "Ticket" %>

<p>
  <strong>Name:</strong>
  <%=h @ticket.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @ticket.description %>
</p>
<p>
  <strong>Solution:</strong>
  <%=h @ticket.solution %>
</p>
<p>
  <strong>State:</strong>
  <%=h @ticket.state %>
</p>
<p>
  <strong>Priority:</strong>
  <%=h @ticket.priority %>
</p>
<p>
  <strong>Direct Link:</strong>
  <%=h @ticket.direct_link %>
</p>
<p>
  <strong>Mantis Bug:</strong>
  <%=h @ticket.mantis_bug %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @ticket.category_name %>
</p>
<p>
  <strong>User:</strong>
  <%=h @ticket.user_username %>
</p>
<p>
  <strong>Organizer:</strong>
  <%=h @ticket.organizer_name %>
</p>
<p>
  <strong>Portal:</strong>
  <%=h @ticket.portal_name %>
</p>
<p>
  <strong>Created At:</strong>
  <%= time @ticket.created_at %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= time @ticket.updated_at %>
</p>
<p>
  <strong>Deadline At:</strong>
  <%= time @ticket.deadline_at %>
</p>
<p>
  <strong>Published At:</strong>
  <%= time @ticket.published_at %>
</p>
<p>
  <strong>Closed At:</strong>
  <%= time @ticket.closed_at %>
</p>
<p>
  <strong>Archived At:</strong>
  <%= time @ticket.archived_at %>
</p>
<p>
  <strong>Deleted At:</strong>
  <%= time @ticket.deleted_at %>
</p>

<p>
  <%= link_to "Edit", edit_ticket_path(@ticket) %> |
  <%= link_to "Destroy", @ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tickets_path %>
</p>
