<% title "Watch" %>

<p>
  <strong>User:</strong>
  <%=h @watch.user_id %>
</p>
<p>
  <strong>Ticket:</strong>
  <%=h @watch.ticket_id %>
</p>

<p>
  <%= link_to "Edit", edit_watch_path(@watch) %> |
  <%= link_to "Destroy", @watch, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", watches_path %>
</p>
